# Dependências
node_modules/
/.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.hprof
*.ipa

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.idea
.gradle
local.properties

# macOS
.DS_Store
*.pem

# Variáveis de ambiente
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Cobertura de testes
coverage/

# Logs
logs
*.log

# Build
/build
/android/app/build/
/ios/build/

# Arquivos temporários
*.swp
*.swo
.temp
.tmp

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Cache
.cache/
.eslintcache

# app-example (mantido do seu arquivo original)
app-example